.container .nav{
    display: flex;
    border: 3px solid black;
    gap: 30px;
    padding: 20px;
    
}
.container li{
    list-style-type: none;
    
}
.container li:hover{
    background-color: crimson;
}
.container ul :hover{
    color: black
}
.dropdown_content{
    display: none;
    position: relative;
}
.container{
    background-color: cornflowerblue;
}
.dropdown:hover .dropdown_content{
    display: block;
    position: absolute;
    background-color: aqua;
}

.dropdown_content li{
    border-bottom: 1px solid black;
}

