body{
    display: grid;
    border: 3px solid gray;
    width: 200px;
    margin: 30px 30px 30px 30px;
    padding: 60px 15px 15px 34px;
   
}
.fullbox{
    justify-content: center;
}
.meen{
    font-size: 13px;
    color: darkslateblue;
    font-weight: 400px;
    text-align: center;
    display: block;
}
.login{
background-color: blueviolet;
color: white;
width: 200px;
height: 50px;
}
.one{
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.two{
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.text-primary{
   color: darkturquoise;
}